body {
  font-family: 'Oswald', sans-serif;
  background-color: #2C2A4A;
  color: #d6cccc;
  font-weight: 300;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1.title {
  text-align: center;
  font-weight: 400;
}

header {
  padding: 10px;
}
/* Nav */
nav {
  border-bottom: 1px solid #e3dada; /* White line under nav */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(216, 210, 210);
  text-decoration: none;
  padding: 10px 15px; /* Adjusted padding */
  font-weight: 300; /* Slimmer font weight for nav links */
}
nav ul li a:hover {
  background-color: #524F73; /* Darker shade on hover */
}


.touch {
  margin-left: auto; /* Push touch to the right */
}

.search {
  margin-left: auto; /* Remove margin-right */
}

.text-container{
  margin-left:10px;
}

input[type="text"] {
  width: 30%;
  padding: 15px;
  margin-bottom: 10px;
  margin-left :10px;

}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

button:hover {
  background-color: #0056b3;
}

#outputContainer {
  padding: 20px;
}

.static-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-gap: 20px; /* Spacing between articles */
}

.static-article {
  background-color: #1E1B3A; /* Darker shade for article background */
  padding: 20px;
  border-radius: 10px;
}

.static-article img {
  max-width: 100%;
  height: auto;
}

.static-article h2 {
  color: #cdc8c8;
}

.static-article p {
  color: #aaa;
}

.static-article .hashtags {
  margin-top: 10px;
}

.hashtag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #0f4263;
  color: #d2cbcb;
  border-radius: 3px;
}

.footer {
  background-color: #141f97; /* Brown background */
  color: #8a8a8a; /* Text color */
  text-align: center;
  padding: 20px 0;
  margin :20px;
}

.footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.generated-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-gap: 20px; /* Spacing between articles */
}

/* generated articles*/

.generated-article {
  background-color: #2f2b54; /* Change background color */
  border: 0px solid #5e5d5d; /* Add border */
  color:#6a6a6a ;
  padding: 10px; /* Add padding */
  margin-bottom: 20px; /* Add margin */
  /* Add any other specific styling for the generated articles */
}


.article-title {
  /* Add your desired styling properties */
  font-size: 24px;
  font-weight: bold;
  color: #8388c2; /* Example color */
  /* Add more styles as needed */
}