body {
  font-family: "Oswald", sans-serif;
  color: #774e24; /* Less bright white text color */
  font-weight: 300;

  background: linear-gradient(
    to bottom right,
    #0f0f0f,
    #3d2301
  ); /* Diagonal gradient background */
}

.container {
  max-width: 800px;
  margin: 0;
}

h1.title {
  text-align: center;
  font-weight: 400;
  color: #774e24; /* Light blue title color */
}

header {
  padding: 5px;
}

/* Nav */
nav {
  border-bottom: 1px solid #6e0d25; /* Dark gray line under nav */
}

nav ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #dcab6a; /* Light gray nav link color */
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 300;
  margin: 2px;
}
nav ul li a:hover {
  background-color: #774e24; /* Dark gray shade on hover */
  border-radius: 3px; /* Add rounded corners */
}

nav ul li.active a {
  background-color: #774e24; /* Change the background color */
  border-radius: 3px; /* Add rounded corners */
}

.touch {
  margin-left: auto;
}

.search {
  margin-left: auto;
}

header#playground_header {
  height: 0px;
  margin-bottom: 20px;
}
header#playground_header > h1 {
  padding: 0;
  text-align: center;
  color: #774e24;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 35px;
  font-family: "IBM Plex Sans", sens-serif;
}

iframe#code {
  bottom: 0;
  position: relative;
  width: 98.5%;
  height: 30vh;
  border: unset;
  background: #774e24;
  margin: 10px;
  border: 2px solid #6e0d25; /* Add border */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin-bottom: 50px;
}
button {
  margin-left: 10px;
  background: #6e0d25;
  color: #0f0f0f;
  font-size: 20px;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.prism-live {
  min-height: 150px;
  overflow-x: hidden;
  width: 100%;
  margin: 10px;
  background: #774e24;
}

div#coding_area {
  width: 100%;
  height: calc(60vh - 60px);
  min-height: 125px;
  display: flex;
}

#notes {
  font-family: "Courier New", Courier, monospace;
  width: 30%;
  font-size: 16px; /* Adjust font size as needed */
  padding: 10px; /* Add padding for better readability */
  border: 2px solid #6e0d25; /* Add border */
  border-radius: 10px; /* Add border radius for rounded corners */
}

textarea.prism-live {
  font-family: "Courier New", Courier, monospace; /* Use a monospaced font */
  font-size: 16px; /* Adjust font size as needed */
  padding: 10px; /* Add padding for better readability */
  border: 2px solid #6e0d25; /* Add border */
  border-radius: 10px; /* Add border radius for rounded corners */
}

/* Style individual language classes */
textarea.language-html {
  color: #d7c9aa; /* HTML color */
  width: 58.5%;
}

textarea.language-css {
  color: #d7c9aa; /* CSS color */
}

textarea.language-javascript {
  color: #d7c9aa; /* JavaScript color */
  width: 98%;
}

.static-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.static-article {
  background-color: #774e24;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
.article-link {
  text-decoration: none;
}

.static-article img {
  width: 100%; /* Set the width of the container to 100% */
  max-width: 410px; /* Set the maximum width of the container */
  height: 280px; /* Set the height of the container */
  overflow: hidden; /* Hide any content that overflows the container */
}

.cropped-image {
  width: 100%; /* Make the image fill the container horizontally */
  height: 100%; /* Make the image fill the container vertically */
  object-fit: cover; /* Crop the image to cover the entire container */
}

.static-article h2 {
  color: #d7c9aa;
}

.static-article p {
  color: #d7c9aa;
}

.static-article .hashtags {
  margin-top: 10px;
}
.hashtag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #6e0d25;
  color: #dcab6a;
  border-radius: 3px;
}

/* big Articles */

.bigArticle img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  margin-top: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style for the main article text */
.bigArticle-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  max-width: 700px;
  margin: 0 auto;
}

/* Style for headings */
.bigArticle-text h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #774e24;
}

/* Style for paragraphs */
.bigArticle-text p {
  margin-bottom: 15px;
  color: #dcab6a;
}

.newsletter-form {
  color: #d7c9aa;
  text-align: center;
  padding: 1px;
  margin: 15px;
}

footer {
  background-color: #6e0d25;
  color: #d7c9aa;
  text-align: center;
  padding: 1px;
  margin: 5px;
  margin-top: 30px;
}
footer a:hover {
  text-decoration: underline;
}
